<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time2Care - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">
        Welcome to Time2Care!
      </h1>
      <p class="subtitle">
        What do you want to do?
      </p>
      <div class="tile is-ancestor">
		<div class="tile is-parent is-4">
	        <article class="tile is-child notification is-info">
	          <p class="title">Go to a medical center...</p>
	          <!-- <p class="subtitle">Top tile</p> -->
			  <a href="patient" class="button is-link is-large">Find the Fastest Care</a>
	        </article>
	    </div>
	    <div class="tile is-parent is-info is-4">
	        <article class="tile is-child notification is-primary">
	          <p class="title">Tell other users about wait times...</p>
	          <!-- <p class="subtitle">Top tile</p> -->
			  <a href="hospital" class="button is-info is-large">Report Wait Times</a>
	        </article>
	    </div>
	  </div>
    </div>
  </section>
  <section class="section">
  	<div class="container">
		<h2 class="title is-2">Features</h2>
		<ul> 
			<li>• Live, to-the-minute ER wait times based on user and hospital reports.</li>
			<li>• Distance and directions to hospitals and other medical facilities in your area. </li>
			<li>• Insurance options for various locations on one screen</li> 
		</ul> 
	</div>
  </section>
  </body>
</html>