<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time2Care</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Disclaimer
      </h1>
      <p class="subtitle">
        In the event of a serious medical emergency, <strong>please call 911.</strong> This application is a prototype developed for the Accenture TDP Hackathon 2019 and assumes no responsibility for life-threatening injuries.
      </p>
	  <a href="choose" class="button is-danger is-large">Agree and Continue</a>
    </div>
  </section>
  </body>
</html>