<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time2Care - Patient</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Patient
      </h1>
      <form action="/results" method="POST">
        	Zip Code: <br/><input type="text" class="form-control" placeholder="Zip Code" name="zipc">
        	<br> 
        	<br> 
        	Insurance Type: <br/>
				<input type="radio" class="form-control" placeholder="Insurance" name="insurance" value ="Aetna"> Aetna<br>
				<input type="radio" class="form-control" placeholder="Insurance" name="insurance" value ="Anthem"> Anthem<br>
				<input type="radio" class="form-control" placeholder="Insurance" name="insurance" value ="BlueCross"> Blue Cross<br>
				<input type="radio" class="form-control" placeholder="Insurance" name="insurance" value ="HarvardPilgrim"> Harvard Pilgrim<br>		
			<br> 
			Injury Type: <br/>
				<input type="radio" class="form-control" placeholder="Injury" name="injury" value ="General"> General<br>
				<input type="radio" class="form-control" placeholder="Injury" name="injury" value ="BrokenBones"> Broken Bones<br>
				<input type="radio" class="form-control" placeholder="Injury" name="injury" value ="EarNoseThroat"> Ear, Nose, or Throat<br>
				<input type="radio" class="form-control" placeholder="Injury" name="injury" value ="Other"> Other<br>		
			<br> 
			<input type = "submit" value="Search" class="button is-link is-medium">
		</form>
		<br/>
		<div class="container">
			<a href="/" class="button is-warning is-small">&lt; Home</a>
		</div>
    </div>
  </section>
  </body>
</html>